{% extends 'Administrador/base.html'%}

{% block title %}Home{% endblock%}
{% block content %}

{% for tas in task%}
  <div class="row p-1 border rounded">

<div class="col-lg-12"><h1>{{tas.Name}}</h1></div>
    
      <ul>
  <li><h5 class="align-self-center p-1">Nombre del programador asignado:{{tas.id_Dev}} </h5></li>
  <li><h5 class="align-self-center p-1">Nombre del Proyecto:{{tas.id_Proj}} </h5></li>
  <li><h5 class="align-self-center p-1">Tiempo de Entrega:{{tas.DeadLine}} </h5></li>
  </ul>
    <div style="float: none;"  class="col-lg-12">
    <p style="">Descripcion:{{tas.about|safe}}</p>
<a href="{% url 'Administrador:UpdateTareas' tas.id_Task %}"><button type="button" class="btn btn-success ml-20">Modifcar</button></a>
<a href="{% url 'Administrador:BorrarTareas' tas.id_Task %}"><button type="button" class="btn btn-danger ml-20">Eliminar</button></a>
    </div>
  </div>
{% endfor %}  







{% endblock%}